
<section id="lebenslauf">
  <h1>LEBENSLAUF</h1>

  <div class="cv">
    <h3>PERSÖNLICHE DATEN</h3>
    <div class="cv-section">
      <div class="cv-row"><span>Name</span> <span>Justus Wirth</span></div>
      <div class="cv-row"><span>Geburtsdatum</span> <span>28.03.1994</span></div>
      <div class="cv-row"><span>Geburtsort</span> <span>Berlin</span></div>
      <div class="cv-row"><span>Anschrift</span> <span>Güllweg 12D<br/>13156 Berlin</span></div>
      <div class="cv-row"><span>Kontakt</span> <span>0176 98 62 13 32<br/>tonmeister@justuswirth.de</span></div>
    </div>

    <h3>SCHULISCHER WERDEGANG</h3>
    <div class="cv-section">
      <div class="cv-row"><span>2004 - 2012</span> <span>Rosa-Luxemburg-Oberschule Berlin, Abitur 2012</span></div>
      <div class="cv-row"><span>2014 - 2017</span> <span>Student im BA Sound, <br/> Filmuniversität Babelsberg (B.F.A. 2017)</span></div>
      <div class="cv-row"><span>seit 2017</span> <span>Student im MA Sound for Picture, <br/> Filmuniversität Babelsberg</span></div>
    </div>

    <h3>BERUFSPRAKTISCHER WERDEGANG</h3>
    <div class="cv-section">
      <div class="cv-row"><span>2000 - 2014</span> <span>Musikunterricht in Klarinette, Gitarre, Gesang, Klavier</span></div>
      <div class="cv-row"><span>08.2012 - 01.2013</span> <span>Halbjähriges Praktikum bei AudioCue Berlin</span></div>
      <div class="cv-row"><span>2013/2014 WiSe</span> <span>Gasthörer im Tonmeister-Studiengang der UdK Berlin</span></div>
      <div class="cv-row"><span>02.2014</span> <span>6-monatiges Praktikum bei „BBRadio“ und „Radio Teddy“</span></div>
      <div class="cv-row"><span>Seit 2015</span> <span>Freiberuflich tätig als Musiker und Tonmeister</span></div>
    </div>

    <h3>WEITERE QUALIFIKATIONEN</h3>
    <div class="cv-section">
      <div class="cv-row"><span>Musikalische Fähigkeiten</span> <span>Klarinette<br/>Gitarre<br>Klavier<br/>Gesang</span></div>
      <div class="cv-row"><span>Sprachen</span> <span>Deutsch<br/>Englisch</span></div>
    </div>
  </div>
</section>
