
<section id="filmografie">
  <h1>FILMOGRAFIE</h1>

  <table class="table-filmography">
    <tr class="table-header"><td colspan="4">2016</td></tr>
    <tr>
      <td><strong>Brandenburg 3000 - Verkehrssicherheitskampagne "Lieber sicher. Lieber leben"</strong> <br/> Kinospot</td>
      <td class="column--hide-mobile">Andreas Boschmann</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonmeister<br/>Synchrontonmeister<br/>Sounddesigner<br/>Mischtonmeister</td>
    </tr>
    <tr>
      <td><strong>Polizeiruf 110 - Muttertag</strong> <br/> TV-Film</td>
      <td class="column--hide-mobile">Eoin Moore</td>
      <td class="column--hide-mobile">Real Film Berlin GmbH</td>
      <td>2.<br/>Tonassistent</td>
    </tr>
    <tr>
      <td><strong>Die Spieler [AT]</strong> <br/> mittellanger Spielfilm</td>
      <td class="column--hide-mobile">Samuel Auer</td>
      <td class="column--hide-mobile">DFFB - Deutsche Film- und Fernsehakademie Berlin</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Der Nestling</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Christiane Hitzemann</td>
      <td class="column--hide-mobile">ChicksFlicks</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Reality [AT]</strong> <br/> Dokumentarfilm</td>
      <td class="column--hide-mobile">Jana Keuchel, Katharina Knust</td>
      <td class="column--hide-mobile">Jana Keuchel Production</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Klamauk</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Dieu Hao Do</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonmeister<br/>Synchrontonmeister</td>
    </tr>
    <tr>
      <td><strong>6Zellen</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Frederik Boesing</td>
      <td class="column--hide-mobile">Frederic Boesing Productions</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Zapf Creation Virals</strong> <br/> Werbeclips</td>
      <td class="column--hide-mobile">Felix Schoenewald</td>
      <td class="column--hide-mobile">Comfort Film GmbH</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Dit is Fußball! (4 Folgen)</strong> <br/> TV-Serie</td>
      <td class="column--hide-mobile">diverse</td>
      <td class="column--hide-mobile">Instant Waves</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Beziehungsweise</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Maria Kindling</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonmeister<br/>Sounddesigner<br/>Synchrontonmeister</td>
    </tr>
    <tr>
      <td><strong>Gabi</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Michael Fetter Natahnsky</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Dust</strong> <br/> Spielfilm</td>
      <td class="column--hide-mobile">Udita Bhargava</td>
      <td class="column--hide-mobile">unafilm GmbH</td>
      <td>Filmtonassistent</td>
    </tr>


    <tr class="table-header"><td colspan="4">2015</td></tr>
    <tr>
      <td><strong>Organspende - Ein Kurzfilm</strong> <br/> Aufklärungsspot</td>
      <td class="column--hide-mobile">Jasper Stratil</td>
      <td class="column--hide-mobile">studentische Initiative Aufklärung Organspende der Charité Berlin</td>
      <td>Filmtonmeister<br/>Soundeditor</td>
    </tr>
    <tr>
      <td><strong>Ich hatte einen Traum</strong> <br/> Werbetrailer</td>
      <td class="column--hide-mobile">Philipp Rappsilber</td>
      <td class="column--hide-mobile">Pictures for Paula</td>
      <td>Synchrontonmeister<br/>Mischtonmeister</td>
    </tr>
    <tr>
      <td><strong>[Out of Fra]me</strong> <br/> Kurzspielfilm</td>
      <td class="column--hide-mobile">Sophie Linnenbaum</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonassistent</td>
    </tr>
    <tr>
      <td><strong>Das Apartment</strong> <br/> Web-Serie</td>
      <td class="column--hide-mobile">Reinaldo Almeida</td>
      <td class="column--hide-mobile">Almeida & Kind Productions</td>
      <td>Filmtonmeister</td>
    </tr>
    <tr>
      <td><strong>Pallasseum - unsichtbare Stadt</strong> <br/> Kurzdokumentarfilm</td>
      <td class="column--hide-mobile">Manuel Inacker</td>
      <td class="column--hide-mobile">Filmuniversität Babelsberg</td>
      <td>Filmtonmeister<br/>Sounddesigner<br/>Mischtonmeister</td>
    </tr>
  </table>

  <p>Mehr Infos auf <a href="http://www.crew-united.com/?bio=422965" target="_blank">crew united</a></p>
</section>
