
<section id="filmografie">
  <h1>FILMOGRAFIE</h1>

  <table class="table-filmography">
    <tr class="table-header"><td colspan="4">2016</td></tr>
    <tr>
      <td><strong>Pallasseum - unsichtbare Stadt</strong> <br/> Kurzdokumentarfilm</td>
      <td>Manuel Inacker</td>
      <td>Filmuniversität Babelsberg</td>
      <td>Filmtonmeister<br/>Sounddesigner<br/>Mischtonmeister</td>
    </tr>
    <tr>
      <td><strong>Das Apartment</strong> <br/> Web-Serie</td>
      <td>Reinaldo Almeida</td>
      <td>Almeida &amp; Kind Productions</td>
      <td>Filmtonmeister </td>
    </tr>
    <tr>
      <td><strong>[Out of fra]me</strong> <br/> Kurzspielfilm</td>
      <td>Sophie Lindenbaum</td>
      <td>Filmuniversität Babelsberg</td>
      <td>Filmtonassistent</td>
    </tr>
    <tr>
      <td><strong>Ich hatte einen Traum</strong> <br/> Werbetrailer</td>
      <td>Philipp Rappsilber</td>
      <td>Pictures for Paula</td>
      <td>Synchrontonmeister<br/>Mischtonmeister</td>
    </tr>
    <tr>
      <td><strong>Aufklärungsfilm Organspende</strong> <br/> Aufklärungsspende</td>
      <td>Jasper Stratil</td>
      <td>studentische Initiative Aufklärung Organspende</td>
      <td>Filmtonmeister<br/>Soundeditor</td>
    </tr>

    <tr class="table-header"><td colspan="4">2015</td></tr>
    <tr>
      <td><strong>Dust</strong> <br/> Spielfilm</td>
      <td>Udita Bhargava</td>
      <td>unafilm GmbH</td>
      <td>Filmtonassistent</td>
    </tr>
  </table>
</section>
