<% include ../../partials/header %>

  <section class="landing-image landing-image--tonmeister">
  </section>

  <nav class="navigation navigation-level-2">
    <ul>
      <li class="nav-item"><a href="#filmografie" id="nav-filmografie" title="FILMOGRAFIE">FILMOGRAFIE</a></li>
      <li class="nav-item"><a href="#lebenslauf" id="nav-lebenslauf" title="LEBENSLAUF">LEBENSLAUF</a></li>
      <li class="nav-item"><a href="#kontakt" id="nav-kontakt" title="KONTAKT">KONTAKT</a></li>
    </ul>
  </nav>

  <div class="main-wrapper">

  <% include ./filmography.ejs %>
  <% include ./cv.ejs %>
  <% include ./contact.ejs %>

<% include ../../partials/footer %> 