
  </div>

  <footer>
    <div class="footer-row">
      <a href="/impressum">Impressum</a>
    </div>

    <div class="footer-row social-row">
      <a href="#" class="social"><i class="fa fa-facebook"></i></a>
      <a href="#" class="social"><i class="fa fa-bandcamp"></i></a>
      <a href="#" class="social"><i class="fa fa-youtube-play"></i></a>
      <a href="#" class="social"><i class="fa fa-instagram"></i></a>
      <a href="#" class="social"><i class="fa fa-soundcloud"></i></a>
    </div>
  </footer>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="js/waypoints.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>