
  </div>

  <footer>
    <div class="footer-row">
      <a href="/impressum">Impressum</a>
    </div>

    <div class="footer-row social-row">
      <a href="https://www.facebook.com/justuswirthmusic/" class="social" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://justuswirth.bandcamp.com/" class="social" target="_blank"><i class="fa fa-bandcamp"></i></a>
      <a href="https://www.youtube.com/channel/UCdzDn84pQrmTt8mb5cl_o7w" class="social" target="_blank"><i class="fa fa-youtube-play"></i></a>
      <a href="https://www.instagram.com/justuswirth/" class="social" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://soundcloud.com/justuswirth" class="social" target="_blank"><i class="fa fa-soundcloud"></i></a>
    </div>
  </footer>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

  <script src="js/main.js"></script>

<% if (activePage == "musik") { %>
  <script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  </script>
<% } %>
</body>
</html>