<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justus Wirth</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>
<body>

  <nav id="top-nav" class="navigation">
    <ul>
      <li class="nav-item nav-item--inert">
        <a href="/">
          <img src="img/Logo@2x.png" width="220" height="16" class="logo">
        </a>
      </li>
      <li class="nav-item-spacer"></li>
      <li class="nav-group">
        <div class="nav-item <% if (activePage == "musik") { %> active <% } %>"><a href="/musik" title="MUSIK">Musik</a></div>
        <div class="nav-item <% if (activePage == "tonmeister") { %> active <% } %>"><a href="/tonmeister" title="TONMEISTER">Tonmeister</a></div>
      </li>
    </ul>
  </nav>
