<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <title>Justus Wirth</title>
  
  <link rel="stylesheet" type="text/css" href="/main.css?v=3" />

  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112680519-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112680519-1');
  </script>

  <nav id="top-nav" class="navigation">
    <ul>
      <li class="nav-item nav-item--inert">
        <a href="/">
          <img src="img/Logo@2x.png" width="220" height="16" class="logo" alt="logo">
        </a>
      </li>
      <li class="nav-item-spacer"></li>
      <li class="nav-group">
        <div class="nav-item <% if (activePage == "musik") { %> active <% } %>"><a href="/musik" title="MUSIK">Musik</a></div>
        <div class="nav-item <% if (activePage == "tonmeister") { %> active <% } %>"><a href="/tonmeister" title="TONMEISTER">Tonmeister</a></div>
      </li>
    </ul>
  </nav>
