
<section id="about">
  <h1><span>&Uuml;BER</span> JUSTUS WIRTH</h1>

  <article class="bio">
    <div class="photo">
      <img src="img/Wirth_Portraits_11.jpg" srcset="img/Wirth_Portraits_11@2x.jpg 2x" width="200" height="200">
    </div>

    <div class="about-me">
      <p>
      Bei Justus Wirth hängt bis jetzt weder eine goldene Schallplatte im Flur noch gibt es einen Wikipedia-Artikel über ihn. Sein Management befindet sich noch im Aufbau und für Koksparties im Hilton hat es bisher auch nicht gereicht. Dafür hat er etwas, was nicht viele Menschen besitzen: Eine bemerkenswerte Stimme und die Musik im Blut.
      </p>

      <p>
      Seit 2012 ist der Singersongwriter auf den Straßen und Bühnen Berlins unterwegs. Seine Devise: Endlich wieder gehaltvolle Popmusik mit ehrlichen Texten und handgemachten Klängen. Das beweist er auf seinem 2016 fertig gestellten Debutalbum “Fliegende Fische”.
Nun ist er bereit endlich voll durchzustarten. Authentisch und mit dem Auge für das komisch Unperfekte singt er von Lebensgefühlen, Sehnsüchten, bizarren Alltagssituationen und den Mitmenschen, die unsere Welt so besonders machen.
      </p>

      <p>
      Überzeug dich selbst!
      </p>

      <a href="mailto:justuswirth@gmx.de" class="button contact-me">SCHREIB MIR</a>
    </div>
  </article>
</section>
