
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr>
    </tbody>
  </table>
</section>
