
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!--<tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr>-->

      <tr>
          <td>19.05.2017, 16:00 Uhr</td>
          <td>Fest der Nachbarn, <a href="https://goo.gl/maps/Gru23Wdvcis" target="_blank">Kastanienplatz 10969 Berlin</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>
    </tbody>
  </table>
</section>
