
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!-- <tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr> -->
      <tr>
        <td>24.01.2018, 20:30 Uhr</td>
        <td>DIE WEISSE ROSE, 
          <a href="https://goo.gl/maps/h1rCdxqTFC62" target="_blank">Martin-Luther-Straße 77, 10825 Berlin</a>
        </td>
        <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>

      <!-- <tr>
          <td>26.07.2017, 19:30 Uhr</td>
          <td>Strickcafé Andrea's Glücksmasche, <a href="https://goo.gl/maps/h58ZXZYdgDN2" target="_blank">Allee 4, 32805 Bad Meinberg</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr> -->
    </tbody>
  </table>
</section>
