
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!--<tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr>-->

      <tr>
          <td>02.06.2017, 19:00 Uhr</td>
          <td>Gut Kossenblatt, <a href="https://goo.gl/maps/LgPzLMajQ582" target="_blank">Lindenstr. 35, 15848 Kossenblatt</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>


      <tr>
        <td>06.07.2017, 20:00 Uhr</td>
        <td>DODO, <a href="https://goo.gl/maps/DsQVHzyb4Mk" target="_blank">Großbeerenstr. 32, 10965 Berlin</a></td>
        <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>
    </tbody>
  </table>
</section>
