
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!-- <tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr> -->

      <tr>
        <td>01.09.2018, 17:00 Uhr</td>
        <td>Wasserfest,
          <a href="https://goo.gl/maps/5Z2vKB6fToP2" target="_blank">24h-Anleger Rummelsburger Bucht, Berlin</a></td>
        <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>

      <!-- <tr>
          <td>26.07.2017, 19:30 Uhr</td>
          <td>Strickcafé Andrea's Glücksmasche, <a href="https://goo.gl/maps/h58ZXZYdgDN2" target="_blank">Allee 4, 32805 Bad Meinberg</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr> -->
    </tbody>
  </table>
</section>
