
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table>
    <tbody>
      <tr>
        <td>12.01</td>
        <td>Olympiastadion, Berlin</td>
        <td><a href="#">TICKETS KAUFEN</a></td>
      </tr>
      <tr>
        <td>12.01</td>
        <td>Olympiastadion, Berlin</td>
        <td></td>
      </tr>
      <tr>
        <td>12.01</td>
        <td>Olympiastadion, Berlin</td>
        <td><a href="#">TICKETS KAUFEN</a></td>
      </tr>
      <tr>
        <td>12.01</td>
        <td>Olympiastadion, Berlin</td>
        <td><span class="sold-out">AUSVERKAUFT</span></td>
      </tr>
      <tr>
        <td>12.01</td>
        <td>Olympiastadion, Berlin</td>
        <td><a href="#">TICKETS KAUFEN</a></td>
      </tr>
    </tbody>
  </table>
</section>
