
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!--<tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr>-->

      <tr>
          <td>19.05.2017, 16:00 Uhr</td>
          <td>Fest der Nachbarn, <a href="https://www.google.de/maps/place/Wassertorstra%C3%9Fe+11,+10969+Berlin/@52.4996011,13.410178,18.5z/data=!4m5!3m4!1s0x47a84e2d3a6d2fb5:0x805c5706b400f1c7!8m2!3d52.49984!4d13.4093" target="_blank">Kastanienplatz 10969 Berlin</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>
    </tbody>
  </table>
</section>
