
<section id="gigs">
  <h1>AUFTRITTE</h1>

  <table class="table-gigs">
    <tbody>
      <!-- <tr>
        <td class="no-gigs"><center>Neue Auftritte sind in Planung.</center></td>
      </tr> -->

      <tr>
        <td>14.12.2017, 12:00 Uhr</td>
        <td>"The Lunch Concert",
          Bertolt Brecht Gesamtschule (Mensa), 
          <a href="https://goo.gl/maps/4gcdC3PqeRC2" target="_blank">Zur Schule 4, 32584 Löhne</a></td>
        <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr>

      <tr>
        <td>28.12.2017, 19:30 Uhr</td>
        <td>Live @ Schweiger Studios, Livestream</td>
        <td><span class="sold-out">Link folgt!</span></td>
      </tr>

      <!-- <tr>
          <td>26.07.2017, 19:30 Uhr</td>
          <td>Strickcafé Andrea's Glücksmasche, <a href="https://goo.gl/maps/h58ZXZYdgDN2" target="_blank">Allee 4, 32805 Bad Meinberg</a></td>
          <td><span class="sold-out">EINTRITT FREI</span></td>
      </tr> -->
    </tbody>
  </table>
</section>
