<% include ../../partials/header %>

  <section class="landing-image">
  </section>

  <nav class="navigation navigation-level-2">
    <ul>
      <li class="nav-item"><a href="#music" id="nav-music" title="MUSIK">MUSIK</a></li>
      <li class="nav-item"><a href="#gigs" id="nav-gigs" title="AUFTRITTE">AUFTRITTE</a></li>
      <li class="nav-item"><a href="#videos" id="nav-videos" title="VIDEOS">VIDEOS</a></li>
      <li class="nav-item"><a href="#about" id="nav-about" title="ÜBER">ÜBER</a></li>
    </ul>
  </nav>

  <div class="main-wrapper">

  <% include ./music.ejs %>
  <% include ./gigs.ejs %>
  <% include ./videos.ejs %>
  <% include ./about.ejs %>

<% include ../../partials/footer %> 