
<section id="music">
  <h1>MUSIK</h1>

  <article class="music-album">
    <div class="thumbnail">
      <img src="img/groenlandhai_cover.jpg" srcset="img/groenlandhai_cover@2x.jpg 2x" width="400" height="400" alt="Grönlandhai">
    </div>
    <div class="details">
      <h2>Gr&ouml;nlandhai</h2>
      <p class="year">2018</p>

      <ol class="track-list">
        <li>Gr&ouml;nlandhai <span>03:05</span></li>
      </ol>

      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/apple_music_button.png" srcset="img/apple_music_button@2x.png 2x" width="138" height="38" alt="Apple Music">
      </a>
      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/spotify_button.png" srcset="img/spotify_button@2x.png 2x" width="99" height="38" alt="Spotify">
      </a>
      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/amazon_button.png" srcset="img/amazon_button@2x.png 2x" width="118" height="38" alt="Amazon Music">
      </a>
      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/itunes_button.png" srcset="img/itunes_button@2x.png 2x" width="108" height="38" alt="iTunes">
      </a>
      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/bandcamp_button.png" srcset="img/bandcamp_button@2x.png 2x" width="138" height="38" alt="Bandcamp">
      </a>
    </div>
  </article>

  <article class="music-album">
    <div class="thumbnail">
      <img src="img/cover_fische.jpg" srcset="img/cover_fische@2x.jpg 2x" width="400" height="400" alt="Fliegende Fische">
    </div>
    <div class="details">
      <h2>Fliegende Fische</h2>
      <p class="year">2016</p>

      <ol class="track-list">
        <li>Herbstgewitter <span>03:34</span></li>
        <li>Sing doch mal <span>03:43</span></li>
        <li>Fliegende Fische <span>04:19</span></li>
        <li>Eisanziehungskraft <span>03:45</span></li>
        <li>Leerer Raum <span>04:42</span></li>
        <li>Leuchtturm <span>03:27</span></li>
      </ol>

      <a href="https://itunes.apple.com/de/album/fliegende-fische-ep/1336278557" target="_blank" class="music-link">
        <img src="img/apple_music_button.png" srcset="img/apple_music_button@2x.png 2x" width="138" height="38" alt="Apple Music">
      </a>
      <a href="https://open.spotify.com/album/5nsuLe6nvXa8pO4sUz8sqI" target="_blank" class="music-link">
        <img src="img/spotify_button.png" srcset="img/spotify_button@2x.png 2x" width="99" height="38" alt="Spotify">
      </a>
      <a href="https://www.amazon.de/dp/B0791MCMC8/" target="_blank" class="music-link">
        <img src="img/amazon_button.png" srcset="img/amazon_button@2x.png 2x" width="118" height="38" alt="Amazon Music">
      </a>
      <a href="https://geo.itunes.apple.com/de/album/fliegende-fische-ep/1336278557?app=itunes" target="_blank" class="music-link">
        <img src="img/itunes_button.png" srcset="img/itunes_button@2x.png 2x" width="108" height="38" alt="iTunes">
      </a>
      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank" class="music-link">
        <img src="img/bandcamp_button.png" srcset="img/bandcamp_button@2x.png 2x" width="138" height="38" alt="Bandcamp">
      </a>
    </div>
  </article>

  <article class="music-album">
    <div class="thumbnail">
      <img src="img/coverfarbe.jpg" srcset="img/coverfarbe@2x.jpg 2x" width="400" height="400" alt="Plutonium fuers Volk">
    </div>
    <div class="details">
      <h2>Plutonium Fürs Volk (Smehl feat. Justus Wirth)</h2>
      <p class="year">2016</p>

      <ol class="track-list">
        <li>Plutonium fürs Volk <span>03:59</span></li>
      </ol>

      <p><strong>100% der Einnahmen gehen an <a href="http://www.hasshilft.de" target="_blank">www.hasshilft.de</a>.</strong></p>

      <a href="https://justuswirth.bandcamp.com/track/plutonium-f-rs-volk" target="_blank" class="music-link">
        <img src="img/bandcamp_button.png" srcset="img/bandcamp_button@2x.png 2x" width="138" height="38" alt="Bandcamp">
      </a>
    </div>
  </article>
</section>
