
<section id="music">
  <h1>MUSIK</h1>

  <article class="music-album">
    <div class="thumbnail">
      <img src="img/cover_fische.jpg" srcset="img/cover_fische@2x.jpg 2x" width="400" height="400">
    </div>
    <div class="details">
      <h2>Fliegende Fische</h2>
      <p class="year">2016</p>

      <ol class="track-list">
        <li>Herbstgewitter <span>03:34</span></li>
        <li>Sing doch mal <span>03:43</span></li>
        <li>Fliegende Fische <span>04:19</span></li>
        <li>Eisanziehungskraft <span>03:45</span></li>
        <li>Leerer Raum <span>04:42</span></li>
        <li>Leuchtturm <span>03:27</span></li>
      </ol>

      <a href="https://justuswirth.bandcamp.com/album/fliegende-fische" target="_blank"><img src="img/bandcamp_button.png" srcset="img/bandcamp_button@2x.png 2x" width="135" height="40"></a>
    </div>
  </article>

  <article class="music-album">
    <div class="thumbnail">
      <img src="img/coverfarbe.jpg" srcset="img/coverfarbe@2x.jpg 2x" width="400" height="400">
    </div>
    <div class="details">
      <h2>Plutonium Fürs Volk (Smehl feat. Justus Wirth)</h2>
      <p class="year">2016</p>

      <ol class="track-list">
        <li>Plutonium fürs Volk <span>03:59</span></li>
      </ol>

      <p><strong>100% der Einnahmen gehen an <a href="http://www.hasshilft.de" target="_blank">www.hasshilft.de</a>.</strong></p>

      <a href="https://justuswirth.bandcamp.com/track/plutonium-f-rs-volk" target="_blank"><img src="img/bandcamp_button.png" srcset="img/bandcamp_button@2x.png 2x" width="135" height="40"></a>
    </div>
  </article>
</section>
