
<section id="videos">
  <h1>VIDEOS</h1>

  <div class="video-gallery">
    <ul class="video-selection">
      <li class="video" data-video-id="I9khvFzxSWg"><img src=""></li>
      <li class="video" data-video-id="RPrnwpZVaRE"><img src=""></li>
      <li class="video" data-video-id="z8_RcHvUogA"><img src=""></li>
    </ul>
    <div class="video-player">
    </div>
  </div>
</section>