
<section id="videos">
  <h1>VIDEOS</h1>

  <div class="video-gallery">
    <ul class="video-selection">
      <li class="video active" data-video-id="I9khvFzxSWg"><img src="img/video_fische.jpg" width="320" height="180" alt="Fliegende Fische"></li>
      <li class="video" data-video-id="z8_RcHvUogA"><img src="img/video_eisanziehungskraft.jpg" width="320" height="180" alt="Eisanziehungskraft"></li>
      <li class="video" data-video-id="bnkOY3TMHSc"><img src="img/video_indien.jpg" width="320" height="180" alt="Indien"></li>
    </ul>

    <div class="auto-resizable-iframe">
  <div>
    <div class="video-player"></div>
    </div>
    </div>
  </div>
</section>