
<section id="videos">
  <h1>VIDEOS</h1>

  <div class="video-gallery">
    <ul class="video-selection">
      <li class="video active" data-video-id="I9khvFzxSWg"><img src="img/video_fische.jpg" width="320" height="180"></li>
      <li class="video" data-video-id="z8_RcHvUogA"><img src="img/video_eisanziehungskraft.jpg" width="320" height="180"></li>
      <li class="video" data-video-id="ahetd1AJ3TI"><img src="img/video_herbstgewitter.jpg" width="320" height="180"></li>
    </ul>
    <div class="video-player">
    </div>
  </div>
</section>