
<section id="videos">
  <h1>VIDEOS</h1>

  <div class="video-gallery">
    <ul class="video-selection">
      <li class="video active" data-video-id="0f3rnkw0mBU"><img src="img/video_hai.jpg" width="320" height="180" alt="Grönlandhai"></li>
      <li class="video" data-video-id="I9khvFzxSWg"><img src="img/video_fische.jpg" width="320" height="180" alt="Fliegende Fische"></li>
      <li class="video" data-video-id="GMptsmA2z5A"><img src="img/video_ringbahn.jpg" width="320" height="180" alt="Ringbahn fahrn"></li>
      <!-- <li class="video" data-video-id="bnkOY3TMHSc"><img src="img/video_indien.jpg" width="320" height="180" alt="Indien"></li> -->
    </ul>

    <div class="auto-resizable-iframe">
  <div>
    <div class="video-player"></div>
    </div>
    </div>
  </div>
</section>