<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
  <title>Justus Wirth - Grönlandhai</title>
  <link rel="stylesheet" type="text/css" href="/landing.css" />

  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
</head>
<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112680519-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112680519-1');
  </script>

  <div class="landing-wrapper--album">
    <div class="blurred-background"></div>

    <div class="wrapper">
      <img src="img/Logo_landing.png" width="630" height="46" srcset="img/Logo_landing@2x.png 2x" class="logo" alt="logo">

      <div class="center-wrapper">
        <h2>Neue Single <strong>Grönlandhai</strong> jetzt verfügbar</h2>

        <div class="album-info">
          <img class="cover" src="img/groenlandhai_cover.jpg" width="250" height="250" srcset="img/groenlandhai_cover@2x.jpg 2x" alt="Grönlandhai">
          <div class="button-wrapper">
            <!-- <%# if (false) { %>
            <a href="https://itunes.apple.com/de/album/fliegende-fische-ep/1336278557" target="_blank" class="music-link">
              <img src="img/apple_music_button.png" srcset="img/apple_music_button@2x.png 2x" width="140" height="40" alt="Apple Music" data-gtag-album="Fliegende Fische" data-gtag-vendor="Apple Music">
            </a>
            <%# } %> -->
            <a href="https://open.spotify.com/track/3M48ZBCY8tEqEGFiBSx6DB?si=gIIf89eYT0ulIZViIyKTvQ" target="_blank" class="music-link">
              <img src="img/spotify_button.png" srcset="img/spotify_button@2x.png 2x" width="101" height="40" alt="Spotify" data-gtag-album="Fliegende Fische" data-gtag-vendor="Spotify">
            </a>
            <a href="https://www.amazon.de/dp/B079C7F215/" target="_blank" class="music-link">
              <img src="img/amazon_button.png" srcset="img/amazon_button@2x.png 2x" width="120" height="40" alt="Amazon Music" data-gtag-album="Fliegende Fische" data-gtag-vendor="Amazon Music">
            </a>
            <!-- <%# if (false) { %>
            <a href="https://geo.itunes.apple.com/de/album/fliegende-fische-ep/1336278557?app=itunes" target="_blank" class="music-link">
              <img src="img/itunes_button.png" srcset="img/itunes_button@2x.png 2x" width="110" height="40" alt="iTunes" data-gtag-album="Fliegende Fische" data-gtag-vendor="iTunes">
            </a>
            <%# } %> -->
          </div>
        </div>
      </div>

      <div class="bottom-wrapper">
        <a href="/landing" class="button">WEITER ZUR WEBSITE</a>
      </div>
    </div>
  </div>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</body>
</html>