<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justus Wirth</title>
  <link rel="stylesheet" type="text/css" href="/landing.css" />
</head>
<body>

  <div class="landing-wrapper">
    <!-- <div class="logo"></div> -->
    <img src="img/Logo_landing@2x.png" width="630" height="46" class="logo">
    <div class="leaves"></div>

    <div class="bottom-wrapper">
      <div class="nav-buttons">
        <a href="/musik" class="button">MUSIK</a>
        <a href="/tonmeister" class="button">TONMEISTER</a>
      </div>
    </div>
  </div>

  <script>
var image = { width: 5536, height: 3691 };
var target = { x: 196, y: 1004.7722222 };

var logo = null;

function updateLogo() {
    // http://www.growingwiththeweb.com/2013/04/aligning-and-element-with-background.html
    var windowWidth = window.innerWidth;
    var windowHeight = window.innerHeight;

    // Get largest dimension increase
    var xScale = windowWidth / image.width;
    var yScale = windowHeight / image.height;
    var scale;
    var yOffset = 0;
    var xOffset = 0;

    if (xScale > yScale) {
        // The image fits perfectly in x axis, stretched in y
        scale = xScale;
        yOffset = (windowHeight - (image.height * scale)) / 2;
    } else {
        // The image fits perfectly in y axis, stretched in x
        scale = yScale;
        xOffset = (windowWidth - (image.width * scale)) / 2;
    }

    console.log('scale: ', scale);

    if (logo) {
      logo.style.top = '' + ((target.y) * scale + yOffset) + 'px';
      // logo.style.left = '' + ((target.x) * scale + xOffset) + 'px';
    }
}

(function() {
  logo = document.querySelector('.landing-wrapper .logo');
  updateLogo();
  window.onresize = updateLogo; 
})();
  </script>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
</body>
</html>